In [1]:
#import the pandas library and aliasing as pd and create a dataframe for the 
#given dataset 
# Print first 5 rows of the dataframe 
import pandas as pd
df_book = pd.read_excel("Book.xlsx")
df_book.head()

  Student ID  Gender    Race/Ethnicity Parent's Education Level  ...  GPA  Absences  Extracurricular Activities  Graduated
0         S1    Male         Caucasian              High School  ...  3.2      10.0                         Yes        Yes
1         S2  Female  African American                  College  ...  3.8       5.0                          No        Yes
2         S3    Male          Hispanic          Graduate Degree  ...  3.5       3.0                         Yes        Yes
3         S4  Female             Asian                  College  ...  3.0      15.0                         Yes         No
4         S5    Male         Caucasian              High School  ...  2.7      20.0                          No         No

[5 rows x 10 columns]

In [3]:
#Print the total number of  columns in the dataset
df_book.columns

Index(['Student ID', 'Gender', 'Race/Ethnicity', 'Parent's Education Level',
       'Lunch Type', 'Test Score', 'GPA', 'Absences',
       'Extracurricular Activities', 'Graduated'],
      dtype='object')

In [4]:
#Print the data type of each column and its missing information if any.
df_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student ID                  39 non-null     object
 1   Gender                      35 non-null     object
 2   Race/Ethnicity              38 non-null     object
 3   Parent's Education Level    37 non-null     object
 4   Lunch Type                  38 non-null     object
 5   Test Score                  39 non-null     int64
 6   GPA                         39 non-null     float64
 7   Absences                    37 non-null     float64
 8   Extracurricular Activities  36 non-null     object
 9   Graduated                   38 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 3.2+ KB

In [ ]:
#Create filter to identify the missing data in the columns

In [ ]:
#Use SimpleImputer to fill the missing values in the dataset

In [ ]:
#Use any other classes for missing data, outliers, etc. if required.

In [5]:
#Use Label Encoder to encode labels with value between 0 and n_classes-1 for the 
#gender column in the dataset.

In [ ]:
#Use OneHotEncoder to encode the categorical features-'Lunch Type' in the dataset.

In [ ]:
#Use standard scaling to normalize the dataset for the columns-Test Scores and GPA.

In [ ]:
#Use MinMAXScaler to scale the data inthe range 0-1, in column Absence.

In [ ]:
#Divide teh data into training and testing sets using train_test_split

In [6]:
#Use any other classes from the sklearn documentation and applied to your dataset.

In [1]:
#Save your final processed data in a excel file named 'final_data.xlsx'.